* {
	margin: 0;
	padding: 0;
}
body {
	color: rgba(0,0,0,.7);
}
header {
	position: relative;

}
.wrap {
    width: 1170px;
    margin: 0 auto;
   }

.header {
	background-image: url(img/bender.jpg);
	background-size: cover;
	height: 100vh;
	position: relative;
}

.bender {
	background-image: url(img/header-fon.png);
	height: 100%;
}



.divheader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 65px;
	color: #000;
	text-align: center;
	width: 140vh;
}


.heshteg {
	font-size: 25px;
}

.logo {
	background-image: url(img/logoPL.png);
	width: 37px;
	height: 47px;
	position: relative;
	top: 92px;
	left: 216px;
}

.button-menu {
	background-image: url(img/button-menu.png);
	position: relative;
	top: 35px;
	right: 215px;
	width: 59px;
	height: 59px;
	float: right;
	border: 0;
	
	
}

/* Hi, i'm Paul Lapkin */

.PaulLapkin {
	background-image: url("img/PaulLapkin.png");
	display: inline-block;
	background-repeat: no-repeat;
	margin-top: 50px;
	margin-left: 80px;
	left: 205px;
	top: 1141px;
  	width: 431px;
  	height: 583px;
}
.txtPL {
	
	display: inline-block;
	vertical-align: top;
	margin-top: 105px;
	margin-left: 30px;
	line-height: 1.75em;
}
.PLh2 {
	font-size: 18px;
	margin-bottom: 30px;

}
.pPL {
	font-size: 16px;
	width: 670px;
	height: 213px;
	position: absolute;
}
.p1 {
	margin-bottom: 35px;
}	
.button-hire-me {
	margin-top: 70px;
	background-image: url("img/button-hire-me.png");
	border: none;
	cursor: pointer;
	width: 202px;
	padding: 15px;
	color: #fff;
}
.button-hire-me:hover {
	opacity: .75;
}

/*End: Hi, i'm Paul Lapkin */


.section_process {
	background: #f6f6f6;
	padding: 120px 0;
	text-align: center;
}
img {
		width: 300px;
		height: 240px;

	}
.button {

			width: 10em;
			height: 10em;
}
.divButtons {
	margin-top: 50px;
	font-size: 0;



}
.icon {
	background-image: url(img/button_design.png);
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto 40px;
}
.design {
	display: inline-block;
	vertical-align: top;
	margin: 0 9px;
	height: 230px;
	width: 230px;
	background-color: #10c6fc;
	border: none;
}
.development {
	display: inline-block;
	vertical-align: top;
	margin: 0 9px;
	height: 230px;
	width: 230px;
	background-color: #835aeb;
	border: none;
}
.testing {
	display: inline-block;
	vertical-align: top;
	margin: 0 9px;
	height: 230px;
	width: 230px;
	background-color: #002453;
	border: none;
}

.launch {
	display: inline-block;
	vertical-align: top;
	margin: 0 9px;
	height: 230px;
	width: 230px;
	background-color: #ff2b4a;
	border: none;
}
.center-article {
	width: 1024px;
	margin: 0 auto;
}


/*body {
		background-image: url(pastel.png);*/
		 


/*.first {
	font-size: 30px;
	color: red;
}

.first-step {
	font-size: 40px;
	background: #333;
}

.first1 {
	margin: 40px;
	color: green;
	font-size: 50px;
	text-decoration: underline;
}

.five {
	text-decoration: line-through;
}
span {
	color: red;
}

.father {
	color: white;
} */

    
}
.column1,
.column2 {
    display: inline-block; 
    vertical-align: top;
    width: 250px;
}
