@import url('https://fonts.googleapis.com/css?family=Lato');
* {
	margin: 0;
	padding: 0;
}
body {
	color: rgba(0,0,0,.7);
}
.wrap {
    width: 980px;
    margin: 0 auto;
 }
@text1: #444;
@text2: #f0f9f7;
@title-text1: #fff;
@title-text2: #444;

._title1 {
	color: @title-text1;
	font-size: 55px;
	text-transform: capitalize;
	margin-bottom: 40px;
}
._title2 {
	color: @title-text2;
	font-size: 28px;
	text-transform: capitalize;
}

/* header */

.menu-list a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	transition: all .3s linear;
}
.menu {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	&-wrap {
	    display: flex;
	    max-width: 500px;
	    align-items: center;
		}
	&-logo {
		background: url(sources/logo.jpg);
	    width: 49px;
	    height: 47px;
	    margin: 0px 10px 0 40px;
		&-title {
			font-size: 30px;
			font-family: 'Lato', sans-serif;
			text-transform: uppercase;
		}
	}
	&-list {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		list-style: none;
		&-home,
		&-portfolio,
		&-about,
		&-contact {
			margin: 0 40px 0 0;
			font-family: 'Lato Regular' sans-serif;
			font-size: 14px;
			min-width: 85px;
			text-align: center;
			padding: 10px;
			transition: all .3s linear;
			&:hover {
				background: #1bbc9b;
				color: #fff;
				a {
				color: #fff;	
				}
			}
		}
	}
}
.header {
	&-bg {
	background: url(sources/header-bg.jpg) no-repeat fixed;
	height: 100vh;
	width: 100%;
	background-size: cover;


	}
	&-wrap {
		padding: 100px 70px;
	}
	&-title {
		._title1;
		text-align: center;
		font-family: 'Lato', sans-serif;
	}
	&-subtitle {
		color: @text2;
		width: 560px;
		margin: auto;
		font-size: 18px;
		text-align: center;
		margin-bottom: 40px;
		line-height: 1.4em;
		font-family: 'Lato', sans-serif;
	}
	&-button1 {
		background-color: #1bbc9b;
		color: @text2;
		display: block;
		margin: auto;
		width: 180px;
		height: 50px;
		font-size: 13px;
		border: none;
		border-radius: 40px;
		outline: none;
		text-align: center;
		text-transform: uppercase;
		padding: 3px 0 0 0;
	}
	&-button1:hover {
		background-color: #1bbc7b;
		cursor: pointer;
	}
	&-button1:active {
		background-color: #1ea589;
	}
	&-button2 {
		background: url(sources/header-strelka2.png) no-repeat 0 0;
		display: block;
		width: 50px;
		height: 50px;
		margin: auto;
		margin-top: 40px;
		cursor: pointer;
		&:hover {
			background: url(sources/strelkahover.png) no-repeat -3px -3px;
		}
	}
}

/* end of header */

/* portfolio */

.button-top {
		display: block;
		position: fixed;
		background: url(sources/button-top.jpg) no-repeat;
		width: 44px;
		height: 44px;
		right: 0;
		bottom: 0;
		border-style: none;
		outline: none;
		margin: 0 20px 20px 0;
		z-index: 1;
		&:hover {
			opacity: .7;
		}
		&:active {
			opacity: 1;
		}
}
.portfolio {
	margin-top: 55px;
	&-title {
		text-align: center;
		font-size: 28px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	&-text {
		text-align: center;
		font-size: 18px;
		margin-bottom: 40px;
	}
	&-ul {
		display: flex;
		justify-content: center;
		list-style: none;
	}
	&-button-all,
	&-button-web,
	&-button-graphic,
	&-button-flat {
		margin: 0 10px 0 10px;	
		text-align: center;
		background-color: #1bbc9b;
		height: 40px;
		color: @text2;
		cursor: pointer;
		font-size: 13px;
		border: none;
		outline: none;
		text-transform: uppercase;
	}
	&-button-all:hover,
	&-button-web:hover,
	&-button-graphic:hover,
	&-button-flat:hover {
		background-color: #1bbc7b;
		cursor: pointer;
	}
	&-button-all:active,
	&-button-web:active,
	&-button-graphic:active,
	&-button-flat:active {
		background-color: #1ea589;
	}
	&-button-all {
		width: 45px;
	}
	&-button-web,
	&-button-flat {
		width: 115px;
	}
	&-button-graphic {
		width: 145px;
	}
}
.animation {
	display: flex;
	flex-wrap: wrap;
		&-opacity {
				background: url(sources/podlozhka2.png) center center no-repeat;
				position: absolute;
				width: 180px;
				height: 180px;
				opacity: 0;
				transition: all .4s linear;
				transform: rotate(360deg);
				&-change {
					background: url(sources/podlozhka2.png) center center no-repeat;
					position: absolute;
					width: 181px;
					height: 180px;
					opacity: 0;
					transition: all .4s linear;
					transform: rotate(360deg);
					&:hover {
						opacity: 1;
					}
				}
				&:hover {
				border-color: #fff;
				opacity: 1;
				}
			}
			&-wrap {
				visibility: hidden;
				transition: all .4s linear;
			}
			&-search {
				padding-left: 130px;
				background: url(sources/bg-search.png) center center no-repeat;
				width: 43px;
				height: 45px;
				left: 65px;
				padding-bottom: 30px;
				&-title {
					font-family: 'Lato Regular', sans-serif;
					font-size: 18px;
					width: 180px;
					text-align: center;
					text-transform: uppercase;
					color: #fff;
				}
				&-text {
					font-family: 'Lato Regular', sans-serif;
					font-size: 16px;
					width: 180px;
					text-align: center;
					font-style: italic;
					color: #fff;
				}
			}
		&-img1, &-img2,
		&-img3, &-img4,
		&-img5, &-img6,
		&-img7, &-img8 {
			width: 180px;
			height: 180px;
			transition: all .4s linear;
			&:hover {
				transform: rotate(360deg);
			}
			&:hover .animation-wrap {
				visibility: visible;
			}
		}
		&-img1, 
		&-img2,
		&-img3, 
		&-img4 {
			margin: 40px 65px 35px 0;
		}
		&-img5, 
		&-img6,
		&-img7, 
		&-img8 {
			margin-right: 65px;
			margin-bottom: 50px;
		}	
		&-img1 {
			background: url(sources/img1.png) center center no-repeat;
		}
		&-img2 {
			background: url(sources/img2.png) center center no-repeat;
		}
		&-img3 {
			background: url(sources/img3.png) center center no-repeat;
		}
		&-img4 {
			background: url(sources/img4.png) center center no-repeat;
		}
		&-img5 {
			background: url(sources/img5.png) center center no-repeat;
		}
		&-img6 {
			background: url(sources/img6.png) center center no-repeat;
		}
		&-img7 {
			background: url(sources/img7.png) center center no-repeat;
		}
		&-img8 {
			background: url(sources/img8.png) center center no-repeat;
		}	
}

	/* end of portfolio */


	/* start of About Us */

.about {
	background-color: #16a086;
	width: 100%;
	padding-bottom: 70px;
	&-title {
		._title2;
		text-align: center;
		color: @title-text1;
		padding-top: 50px;
		font-family: 'Lato', sans-serif;
	}
	&-text {
		color: @title-text1;
		font-size: 14px;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 40px;
		font-family: 'Lato', sans-serif; 
	}
	&-wrap {
		display: flex;
		justify-content: space-between;
		&-wrap1 {
			width: 220px;
			height: 420px;
		}
		&-photo1 {
			background: url(sources/melannie.jpg) no-repeat;
			width: 220px;
			height: 228px;
		}
		&-text {
			background: #fff;
			width: 210px;
			height: 166px;
			padding: 7px 5px;
			&-title {
				font-size: 18px;
				font-family: 'Lato', sans-serif;
				text-align: center;
				padding-top: 10px;
				font-weight: bold;
			}
			&-subtitle {
				font-size: 14px;
				font-family: 'Lato Italic', sans-serif;
				text-align: center;
				margin: 5px 0 10px 0;
				font-weight: bold;
			}
			&-subtext {
				font-size: 14px;
				font-family: 'Lato', sans-serif;
				line-height: 1.4;
				text-align: left;
			}
		}
		&-photo2 {
			background: url(sources/jhonnie.jpg) no-repeat;
			width: 220px;
			height: 228px;
		}
		&-photo3 {
			background: url(sources/daniel.jpg) no-repeat;
			width: 220px;
			height: 228px;
		}
	}
}
	/* hover/active for about us section */

.hover {
	display: flex;
	justify-content: space-around;
	position: absolute;
	background: #16a086;
	width: 180px;
	height: 48px;
	visibility: hidden;
	opacity: .7;
	margin: 90px 20px 85px 20px;
}
.facebook,
.twitter,
.google,
.earth {
	width: 28px;
	height: 28px;
	margin: 10px 0 0 7px;
	border: none;
	outline: none;
	cursor: pointer;
}
.facebook {
	background: url(sources/facebook.png) no-repeat;
}
.twitter {
	background: url(sources/twitter.png) no-repeat;
	margin-top: 13px;
}
.google {
	background: url(sources/google.png) no-repeat;
}
.earth {
	background: url(sources/earth.png) no-repeat;
}
.about-wrap-photo1:hover .hover,
.about-wrap-photo2:hover .hover,
.about-wrap-photo3:hover .hover {
	position: absolute;
	background: #16a086;
	width: 180px;
	height: 48px;
	visibility: visible;
	opacity: .7;
	margin: 90px 20px 85px 20px;
}
.facebook:hover,
.twitter:hover,
.google:hover,
.earth:hover {
	opacity: 0.7;
}
.facebook:active,
.twitter:active,
.google:active,
.earth:active {
	opacity: 1;
}

	/* end of hover/active for about us section */
	
	/* end of About Us */


	
	/* start of form section */
.contact {
	background: #ecf0f1;
	padding-bottom: 40px;
	&-title {
		color: @title-text2;
		font-size: 28px;
		font-family: 'Lato Regular' sans-serif;
		text-align: center;
		padding: 50px 0 15px 0;
	}
	&-subtitle {
		color: @title-text2;
		font-size: 14px;
		font-family: 'Lato Regular' sans-serif;
		text-align: center;
		padding-bottom: 40px;
	}
	&-wrapper {
		display: flex;
	}
	&-form {
		display: flex;
		flex: 1;
		&-name {
			outline: none;
			border: 3px solid;
			border-color: #bec3c7;
			width: 196px;
			height: 33px;
			box-shadow: 0 0 5px rgba(0,0,0,.3);
			margin-right: 14px;
			padding: 5px 5px;
			transition: all .3s linear;
			&:focus {
				background: #f6f6f6;
				border-color: #fff;
				color: #000;
			}
		}
		&-email {
			outline: none;
			border: 3px solid;
			border-color: #bec3c7;
			width: 196px;
			height: 33px;
			box-shadow: 0 0 5px rgba(0,0,0,.3);
			padding: 5px 5px;
			transition: all .3s linear;
			&:focus {
				background: #f6f6f6;
				border-color: #fff;
				color: #000;
			}
		}
		&-textarea {
			display: block;
			outline: none;
			border: 3px solid;
			border-color: #bec3c7;
			margin: 22px 0 0 0;
			width: 426px;
			height: 119px;
			box-shadow: 0 0 5px rgba(0,0,0,.3);
			padding: 5px 5px;
			transition: all .3s linear;
			&:focus {
				background: #f6f6f6;
				border-color: #fff;
				color: #000;
			}
		}
		&-button {
			float: right;
			background: #1bbc9b;
			color: #fff;
			width: 114px;
			height: 37px;
			border: none;
			outline: none;
			font-size: 14px;
			letter-spacing: 2px;
			margin-top: 24px;
			text-transform: uppercase;
			cursor: pointer;
		}
		&-button:hover {
			background: #1bbc7b;
		}
		&-button:active {
			background-color: #1ea589;
		}
	}
	&-information {
		flex: 2;
		&-wrap {
			display: flex;
			margin: 20px 0 20px 20px;
		}
		&-title {
			font-size: 14px;
			font-family: 'Lato Regular' sans-serif;
			text-transform: uppercase;
			margin-left: 20px;
		}
		&-geolocation {
			background: url(sources/geolocation.png) no-repeat;
			width: 9px;
			height: 12px;
			&-text {
				padding-left: 5px;
			}
		}
		&-phone {
			background: url(sources/phone.png) no-repeat;
			width: 12px;
			height: 12px;
			&-text {
				padding-left: 5px;
			}
		}
		&-fax {
			background: url(sources/fax.png) no-repeat;
			width: 13px;
			height: 12px;
			&-text {
				padding-left: 5px;
			}
		}
		&-email {
			background: url(sources/email.png) no-repeat;
			width: 14px;
			height: 11px;
			&-text {
				padding-left: 5px;
			}
		}
	}
}
.copyright {
	background: #2d3e50;
	height: 70px;
	padding-top: 60px;
	&-text {
		padding-left: 30px;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
	}
}

	/* end of form section */

	/* start of mediaq part */

@media all and (max-width: 550px) {
	.wrap {
		width: auto;
	}
	.menu, .menu-list {
		height: 98%;
		flex-direction: column;
	}
	.menu-list a {
		font-size: 11px;
	}
	.menu-list li {
		max-width: 55px;
		padding: 3px 3px;
	}
	.menu-logo {
		margin: 0 5px 0 0;
	}
	.menu-logo-title, .menu-logo-text {
		font-size: 12px;
	}
	.header {
		&-wrap {
			padding: 30px 15px;
		}
		&-title {
			font-size: 14px;
		}
		&-subtitle {
			max-width: 90%;
			max-height: 50%;
			font-size: 12px;
		}
		&-button1 {
			width: 100px;
			height: 35px;
			font-size: 12px;
		}
	}
	.portfolio {
		&wrap {
    		max-width: 886px;
		}
		&-title {
			font-size: 18px;
			margin-bottom: 5px;
			text-align: center;
			margin: auto;
			max-width: 50%;
			margin: 0 0;

		}
		&-text {
			text-align: center;
			margin: auto;
			max-width: 50%;
			margin: 0 0;
		}
		&-ul {
			flex-direction: column;
			button {
				margin:0 0 5px 0;
				font-size: 11px;
				height: 30px;
				max-width: 70%;
			}
		}
	}
	.animation {
		flex-direction: column;
	}
	.wrap {
		width: auto;
	}
	.about {
		&-title {
			font-size: 14px;
		}
		&-subtitle {
			max-width: 90%;
			max-height: 50%;
			font-size: 12px;
		}
		&-wrap1,
		&-wrap2,
		&-wrap3 {
		margin: 10px 0;
		}
		&-wrap {
		flex-direction: column;
		}
	}
	.contact {
		&-wrapper {
			flex-direction: column;
		}
		&-title {
			font-size: 14px;
		}
		&-subtitle {
			font-size: 12px;
		}
		&-form {
			flex-direction: column;
			&-name {
				max-width: 50%;
				font-size: 10px;
			}
			&-email {
				display: block;
				max-width: 50%;
				margin-top: 20px;
				font-size: 10px;
			}
			&-textarea {
				max-width: 80%;
				font-size: 10px;
			}
			&-button {
				float: left;
				margin-bottom: 20px;
			}
		}
	}
}

/* next mediaq part */

@media (min-width: 550px) and (max-width: 997px) {
    .wrap {
		width: auto;
	}
	.menu, .menu-list {
		height: 98%;
		flex-direction: column;
	}
	.menu-list a {
		font-size: 12px;
	}
	.menu-list li {
		max-width: 55px;
		padding: 3px 3px;
	}
	.menu-logo {
		margin: 0 5px 0 0;
	}
	.menu-logo-title, .menu-logo-text {
		font-size: 13px;
	}
	.header {
		&-wrap {
			padding: 30px 15px;
		}
		&-title {
			font-size: 16px;
		}
		&-subtitle {
			max-width: 90%;
			max-height: 50%;
			font-size: 14px;
		}
		&-button1 {
			width: 150px;
			height: 45px;
			font-size: 14px;
		}
	}
	.portfolio {
		&wrap {
    		max-width: 886px;
		}
		&-title {
			font-size: 20px;
			margin-bottom: 10px;
			text-align: center;
			margin: auto;
			max-width: 70%;
			margin: 0 0;

		}
		&-text {
			text-align: center;
			margin: auto;
			max-width: 70%;
			margin: 0 0;
		}
		&-ul {
			flex-direction: row;
			button {
				margin:0 5px 5px 0;
				font-size: 11px;
				height: 30px;
				max-width: 70%;
			}
		}
	}
	.animation {
		flex-direction: row;
	}
	.wrap {
		width: auto;
	}
	.about {
		&-title {
			font-size: 18px;
		}
		&-subtitle {
			max-width: 90%;
			max-height: 70%;
			font-size: 16px;
		}
		&-wrap1,
		&-wrap2,
		&-wrap3 {
			margin: 20px 10px;
			width: auto;
			display: flex;
		}
		&-wrap {
			flex-direction: column;
			&-text {
				padding-bottom: 55px;
			}
		}
	}
	.contact {
		&-wrapper {
			flex-direction: column;
		}
		&-title {
			font-size: 18px;
		}
		&-subtitle {
			font-size: 16px;
		}
		&-form {
			flex-direction: column;
			&-name {
				max-width: 70%;
				font-size: 12px;
			}
			&-email {
				display: block;
				max-width: 70%;
				margin-top: 20px;
				font-size: 12px;
			}
			&-textarea {
				max-width: 80%;
				font-size: 12px;
			}
			&-button {
				float: left;
				margin-bottom: 20px;
			}
		}
		&-information {
			height: auto;
			&-geoolocation { 
				&-text {
				width: auto;
				height: auto;
				text-align: center;
				}
			}
			&-email {
				&-text {
					width: auto;
					height: auto;
					text-align: center;
				}
			}
		}
	}
}
	/* end of mediaq part */