@import url('https://fonts.googleapis.com/css?family=Lato');
* {
  margin: 0;
  padding: 0;
}
body {
  color: rgba(0, 0, 0, 0.7);
}
.wrap {
  width: 980px;
  margin: 0 auto;
}
._title1 {
  color: #ffffff;
  font-size: 55px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
._title2 {
  color: #444444;
  font-size: 28px;
  text-transform: capitalize;
}
/* header */
.header-bg {
  background: url(sources/header-bg.jpg) no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.header-wrap {
  padding: 100px 70px;
}
.header-title {
  color: #ffffff;
  font-size: 55px;
  text-transform: capitalize;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.header-subtitle {
  color: #f0f9f7;
  width: 560px;
  margin: auto;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.4em;
  font-family: 'Lato', sans-serif;
}
.header-button1 {
  background-color: #1bbc9b;
  color: #f0f9f7;
  display: block;
  margin: auto;
  width: 180px;
  height: 50px;
  font-size: 13px;
  border: none;
  border-radius: 40px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  padding: 3px 0 0 0;
  /*  animation: pulse 3s infinite; */
}
.header-button1:hover {
  background-color: #1bbc7b;
  cursor: pointer;
}
.header-button1:active {
  background-color: #1ea589;
}
.header-button2 {
  background: url(sources/header-strelka2.png) no-repeat;
  width: 44px;
  height: 44px;
  margin: auto;
  margin-top: 40px;
}
/* end of header */
/* portfolio */
.portfolio {
  margin-top: 55px;
}
.portfolio-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
.portfolio-text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}
.portfolio-ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.portfolio-button-all,
.portfolio-button-web,
.portfolio-button-graphic,
.portfolio-button-flat {
  margin: 0 10px 0 10px;
  text-align: center;
  background-color: #1bbc9b;
  height: 40px;
  color: #f0f9f7;
  cursor: pointer;
  font-size: 13px;
  border: none;
  outline: none;
  text-transform: uppercase;
}
.portfolio-button-all:hover,
.portfolio-button-web:hover,
.portfolio-button-graphic:hover,
.portfolio-button-flat:hover {
  background-color: #1bbc7b;
  cursor: pointer;
}
.portfolio-button-all:active,
.portfolio-button-web:active,
.portfolio-button-graphic:active,
.portfolio-button-flat:active {
  background-color: #1ea589;
}
.portfolio-button-all {
  width: 45px;
}
.portfolio-button-web,
.portfolio-button-flat {
  width: 115px;
}
.portfolio-button-graphic {
  width: 145px;
}
.animation {
  display: flex;
  flex-wrap: wrap;
}
.animation-img1,
.animation-img2,
.animation-img3,
.animation-img4,
.animation-img5,
.animation-img6,
.animation-img7,
.animation-img8 {
  width: 180px;
  height: 180px;
}
.animation-img1,
.animation-img2,
.animation-img3,
.animation-img4 {
  margin: 40px 65px 35px 0;
}
.animation-img5,
.animation-img6,
.animation-img7,
.animation-img8 {
  margin-right: 65px;
  margin-bottom: 50px;
}
.animation-img1 {
  background: url(sources/img1.png) center center no-repeat;
}
.animation-img2 {
  background: url(sources/img2.png) center center no-repeat;
}
.animation-img3 {
  background: url(sources/img3.png) center center no-repeat;
}
.animation-img4 {
  background: url(sources/img4.png) center center no-repeat;
}
.animation-img5 {
  background: url(sources/img5.png) center center no-repeat;
}
.animation-img6 {
  background: url(sources/img6.png) center center no-repeat;
}
.animation-img7 {
  background: url(sources/img7.png) center center no-repeat;
}
.animation-img8 {
  background: url(sources/img8.png) center center no-repeat;
}
/* end of portfolio */
/* start of About Us */
.about {
  background-color: #16a086;
  width: 100%;
  padding-bottom: 70px;
}
.about-title {
  color: #444444;
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
}
.about-text {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Lato', sans-serif;
}
.about-wrap {
  display: flex;
  justify-content: space-between;
}
.about-wrap-wrap1 {
  width: 220px;
  height: 420px;
}
.about-wrap-photo1 {
  background: url(sources/melannie.jpg) no-repeat;
  width: 220px;
  height: 228px;
}
.about-wrap-text {
  background: #fff;
  width: 210px;
  height: 166px;
  padding: 7px 5px;
}
.about-wrap-text-title {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}
.about-wrap-text-subtitle {
  font-size: 14px;
  font-family: 'Lato Italic', sans-serif;
  text-align: center;
  margin: 5px 0 10px 0;
  font-weight: bold;
}
.about-wrap-text-subtext {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  text-align: left;
}
.about-wrap-photo2 {
  background: url(sources/jhonnie.jpg) no-repeat;
  width: 220px;
  height: 228px;
}
.about-wrap-photo3 {
  background: url(sources/daniel.jpg) no-repeat;
  width: 220px;
  height: 228px;
}
/* hover for about us section */
.hover {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background: #16a086;
  width: 180px;
  height: 48px;
  visibility: hidden;
  opacity: .7;
  margin: 90px 20px 85px 20px;
}
.facebook,
.twitter,
.google,
.earth {
  width: 28px;
  height: 28px;
  margin: 10px 0 0 7px;
  border: none;
  outline: none;
  cursor: pointer;
}
.facebook {
  background: url(sources/facebook.png) no-repeat;
}
.twitter {
  background: url(sources/twitter.png) no-repeat;
  margin-top: 13px;
}
.google {
  background: url(sources/google.png) no-repeat;
}
.earth {
  background: url(sources/earth.png) no-repeat;
}
.about-wrap-photo1:hover .hover,
.about-wrap-photo2:hover .hover,
.about-wrap-photo3:hover .hover {
  position: absolute;
  background: #16a086;
  width: 180px;
  height: 48px;
  visibility: visible;
  opacity: .7;
  margin: 90px 20px 85px 20px;
}
/* end of hover for about us section */
/* end of About Us */
/* start of form section */
.contact {
  background: #ecf0f1;
}
.contact-title {
  color: #444444;
  font-size: 28px;
  font-family: 'Lato Regular' sans-serif;
  text-align: center;
  padding: 50px 0 15px 0;
}
.contact-subtitle {
  color: #444444;
  font-size: 14px;
  font-family: 'Lato Regular' sans-serif;
  text-align: center;
  padding-bottom: 40px;
}
.contact-wrapper {
  display: flex;
}
.contact-form {
  display: flex;
  flex: 1;
}
.contact-form-name {
  outline: none;
  border: 3px solid;
  border-color: #bec3c7;
  width: 196px;
  height: 33px;
  margin-right: 14px;
  padding: 5px 5px;
}
.contact-form-email {
  outline: none;
  border: 3px solid;
  border-color: #bec3c7;
  width: 196px;
  height: 33px;
  padding: 5px 5px;
}
.contact-form-textarea {
  display: block;
  outline: none;
  border: 3px solid;
  border-color: #bec3c7;
  margin: 22px 0 0 0;
  width: 426px;
  height: 119px;
  padding: 5px 5px;
}
.contact-form-button {
  float: right;
  background: #1bbc9b;
  color: #fff;
  width: 114px;
  height: 37px;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 24px;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-form-button:hover {
  background: #1bbc7b;
}
.contact-form-button:active {
  background-color: #1ea589;
}
.contact-information {
  flex: 2;
}
.contact-information-wrap {
  display: flex;
  margin: 20px 0 20px 20px;
}
.contact-information-title {
  font-size: 14px;
  font-family: 'Lato Regular' sans-serif;
  text-transform: uppercase;
  margin-left: 20px;
}
.contact-information-geolocation {
  background: url(sources/geolocation.png) no-repeat;
  width: 9px;
  height: 12px;
}
.contact-information-geolocation-text {
  padding-left: 5px;
  white-space: pre;
}
.contact-information-phone {
  background: url(sources/phone.png) no-repeat;
  width: 12px;
  height: 12px;
}
.contact-information-phone-text {
  padding-left: 5px;
}
.contact-information-fax {
  background: url(sources/fax.png) no-repeat;
  width: 13px;
  height: 12px;
}
.contact-information-fax-text {
  padding-left: 5px;
}
.contact-information-email {
  background: url(sources/email.png) no-repeat;
  width: 14px;
  height: 11px;
}
.contact-information-email-text {
  padding-left: 5px;
}
